.div-login {
  width: 300px;
  height: 250px;
  margin: 100px auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.inicio {
  text-align: center;
}

.inicio button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #9cb6dd;
  color: white;
  cursor: pointer;
}

.inicio button:hover {
  background-color: #6a7fc1;
}

.inicio a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #999;
}
.microscopio{
  height: 50px;
  width: 50px;
  user-select: none;
}
.patologia{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  user-select: none;
}

